/* ROOT */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400&display=swap");

:root {
  --mainbg: #eaeaed;
  --navbarcolor: #ffffff;
  --footercolor: #1e252b;
  --primarybutton: #184889;
  --secondarybutton: #6371b6;
  --primaryfontcolor: rgb(29, 29, 29);
  --footerfontcolor: #fff;
  --primaryfont: "Roboto Serif", serif;
  --secondaryfont: "Inter", sans-serif;
}

body {
  background-color: var(--mainbg);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primaryfontcolor);
}

a:hover {
  text-decoration: none;
  color: var(--primarybutton);
}

nav {
  position: sticky;
  width: 100%;
  background-color: var(--navbarcolor);
  /* height: 100px; */
  font-family: var(--secondaryfont);
}

header {
  background-image: url("../img/plane.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 72px;
  color: #fff;
  text-shadow: 2px 2px #1e252b;
}

#header-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logga {
  width: 75px;
  height: 75px;
}

.btn-container {
  display: flex;
  justify-content: center;
  height: 100px;
}

#primary-btn {
  padding: 10px 40px;
  margin: auto;
  border-radius: 4px;
  background-color: var(--primarybutton);
  color: #fff;
  border: 1px solid #fff;
}

#primary-btn:hover {
  background-color: var(--mainbg);
  color: var(--primarybutton);
  border: 1px solid var(--primarybutton);
  border-radius: 4px;
}

.search-container {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

#header-searchbar {
  font-size: 18px;
  padding-left: 10px;
  width: 535px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #ffffff8e;
  color: #153a6e;
}

#header-searchbar::placeholder {
  color: black;
  opacity: 0.5;
}

#searchicon {
  position: absolute;
  /* right: 35px; */
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-right: 15px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding-left: 0;
  max-width: 1080px;
}

nav ul li {
  list-style-type: none;
}


h3 {
  font-family: var(--primaryfont);
  font-weight: 300;
}

p {
  font-family: var(--secondaryfont);
}

/* main display of cards */

h2{
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #fff;
  font-family: var(--secondaryfont);
  color: var(--primaryfontcolor);



}

#box-container { 
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 75px;
}


#box1,
#box2,
#box3 {
  margin-top: 50px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.406);
  transition: 0.5s;
}

#box1 {
  background-image: url(../img/wonderland2.png);
  background-size: cover;
}

#box2 {
  background-image: url(../img/helvetet.png);
  background-size: cover;
}

#box3 {
  background-image: url(../img/månen1.png);
  background-size: cover;
}


.box-wraper:hover #box1 
{
  position: relative;
  height: 400px;
  width: 500px;
  transition: 0.5s;
  filter: blur(5px);
}

.box-wraper:hover #box2 
{
  position: relative;
  height: 400px;
  width: 500px;
  transition: 0.5s;
  filter: blur(5px);
}

.box-wraper:hover #box3 
{
  position: relative;
  height: 400px;
  width: 500px;
  transition: 0.5s;
  filter: blur(5px);
}

.box-wraper{
  position: relative;
  display: flex;
  justify-content: center;
  height: 400px;

}

#text-box{
  position: absolute;
  font-size: large;
  color: white;
  align-self: center;
  top: 150px;
  text-align: center;
  width: 400px;
  opacity: 0%;
  transition: 0.5s;
}


.box-wraper:hover #text-box{
  opacity: 100%;
  transition: 1s;

}

/* ------------------------------------- */

footer {
  background-color: var(--footercolor);
  color: var(--footerfontcolor);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

#copyright-txt {
  grid-column: 2/3;
}

#footer-logo-container {
  grid-column: 3/4;
}

#footer-txt2 {
  grid-column: 4/5;
}
