/* ROOT */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400&display=swap");

body {
  background-color: var(--mainbg);
  margin: 0;
}

/*header start*/
a {
  text-decoration: none;
  color: var(--primaryfontcolor);
}

a:hover {
  text-decoration: none;
  color: var(--primarybutton);
}

nav {
  position: sticky;
  width: 100%;
  background-color: var(--navbarcolor);
  /* height: 100px; */
  font-family: var(--secondaryfont);
}

header {
  background-image: url("../img/plane.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 72px;
  color: #fff;
  text-shadow: 2px 2px #1e252b;
}

#header-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logga {
  width: 75px;
  height: 75px;
}

.btn-container {
  display: flex;
  justify-content: center;
  height: 100px;
}

#primary-btn {
  padding: 10px 40px;
  margin: auto;
  border-radius: 4px;
  background-color: var(--primarybutton);
  color: #fff;
  border: 1px solid #fff;
}

#primary-btn:hover {
  background-color: var(--mainbg);
  color: var(--primarybutton);
  border: 1px solid var(--primarybutton);
  border-radius: 4px;
}

.search-container {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

#header-searchbar {
  font-size: 18px;
  padding-left: 10px;
  width: 535px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #ffffff8e;
  color: #153a6e;
}

#header-searchbar::placeholder {
  color: black;
  opacity: 0.5;
}

#searchicon {
  position: absolute;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-right: 15px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding-left: 0;
  max-width: 1080px;
}

nav ul li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: var(--primaryfont);
  font-weight: 300;
}

p {
  font-family: var(--secondaryfont);
}
/*header-end*/

/*-----------------------------------------*/

/*main-content start*/
/*flexbox*/
#img-familyphoto {
  width: 830px;
  margin-top: 60px;
  border-radius: 5px;
}

#info-aboutus-text {
  margin-top: 40px;
  padding: 0 12px;
}

/*familyphoto, infotext, knapp, */
#section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 850px;
}

/*kontakta-oss knapp*/
#btn-aboutus {
  padding: 10px 40px;
  margin: 60px 60px 80px 60px;
  border-radius: 4px;
  background-color: var(--navbarcolor);
  color: #184889;
  border: 1px solid #184889;
}
#btn-aboutus:hover {
  background-color: var(--primarybutton);
  color: var(--navbarcolor);
  border-radius: 4px;
  border: 1px solid #184889;
  cursor: pointer;
}

#btn-aboutus {
  margin: 80px 0 80px 0;
}

/*avsk채rmare*/
hr {
  max-width: 810px;
  border: 1px solid var(--footercolor);
  opacity: 0.35;
  margin-bottom: 110px;
}

/*v책r vision text 1 och 2, m책nbild och solbild*/
#img-moontravels,
#img-thesun {
  width: 350px;
}

#ourvision-text,
#ourvision2-text {
  width: 350px;
  height: 350px;
}

#ourvision-text,
#ourvision2-text,
#img-moontravels,
#img-thesun {
  border-radius: 5px;
}

#ourvision-text,
#img-moontravels {
  margin-bottom: 30px;
}

#ourvision-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 70px;
  justify-items: center;
  align-items: center;
}

#ourvision-text {
  grid-column: 4/5;
}

#ourvision-moon-img {
  grid-column: 5/6;
}

#ourvision2-text {
  grid-column: 4/5;
  grid-row: 2/2;
}

#ourvision-sun-img {
  grid-column: 5/6;
  grid-row: 2/2;
  margin-left: 5px;
}

/*bl책 infoboxar*/
#box-container2 {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  margin-top: 120px;
}

#box1,
#box2,
#box3 {
  min-width: 400px;
  height: 300px;
  margin-top: -40px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.406);
  background-color: #184889;
}

#numbers,
#bigletters {
  color: var(--navbarcolor);
  display: flex;
  justify-content: center;
  align-items: center;
}

#numbers {
  font-size: 80px;
}

#bigletters {
  font-size: 30px;
}

/*main-content end*/
/* footer {
  background-color: var(--footercolor);
  color: var(--footerfontcolor);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

#copyright-txt {
  grid-column: 2/3;
}

#footer-logo-container {
  grid-column: 3/4;
}

#footer-txt2 {
  grid-column: 4/5;
} */

/* ---------- MEDIA QUERIES ------------*/

@media screen and (max-width: 950px) {
  #img-familyphoto {
    width: 780px;
    margin-top: 60px;
    border-radius: 5px;
  }

  #info-aboutus-text {
    width: 740px;
    margin-top: 20px;
  }

  #ourvision-wrapper {
    gap: 40px;
    padding: 5px;
  }

  /*grid*/
  #ourvision-text {
    grid-column: 1/2;
    margin-left: 20px;
  }

  #ourvision-moon-img {
    grid-column: 2/3;
  }

  #ourvision2-text {
    grid-column: 1/2;
    grid-row: 2/2;
    margin-left: 20px;
  }

  #ourvision-sun-img {
    grid-column: 2/3;
    grid-row: 2/2;
    margin-left: -3px;
  }

  hr {
    max-width: 710px;
    border: 1px solid var(--footercolor);
    opacity: 0.35;
    margin-bottom: 110px;
  }

  #btn-aboutus {
    width: 270px;
    margin-top: 65px;
  }

  /*flexbox*/
  #box-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 260px;
    margin-top: 260px;
  }
}

@media screen and (max-width: 767px) {
  #img-familyphoto {
    width: 440px;
    margin-top: 54px;
  }

  #info-aboutus-text {
    width: 390px;
    margin-top: 38px;
  }

  #btn-aboutus {
    width: 370px;
    margin-top: 80px;
  }

  #ourvision-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  hr {
    max-width: 400px;
    border: 1px solid var(--footercolor);
    opacity: 0.35;
    margin-bottom: 80px;
    margin-top: 15px;
  }

  #ourvision-text,
  #ourvision2-text {
    margin-bottom: -32px;
  }

  #box-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 310px 0 280px 0;
  }
}
