@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400&display=swap");

/* ROOT STYLING */

:root {
  --mainbg: #eaeaed;
  --navbarcolor: #ffffff;
  --footercolor: #1e252b;
  --primarybutton: #184889;
  --secondarybutton: #6371b6;
  --primaryfontcolor: rgb(29, 29, 29);
  --footerfontcolor: #fff;
  --primaryfont: "Roboto Serif", serif;
  --secondaryfont: "Inter", sans-serif;
}

/* BODY STYLING */

body {
  box-sizing: border-box;
  background-color: var(--mainbg);
  margin: 0;
  font-family: var(--secondaryfont);
}

a {
  text-decoration: none;
  color: var(--primaryfontcolor);
}

a:hover {
  text-decoration: none;
  color: var(--primarybutton);
}

hr {
  max-width: 900px;
  border: 1px solid var(--footercolor);
  opacity: 0.35;
  /* border-radius: 4px; */
}

#hr {
  padding-bottom: 45px;
}

/* NAVBAR STYLING */

#navbar-logo {
  width: 75px;
}

.navbar {
  max-width: 950px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-mobil {
  display: none;
}

/* HEADER STYLING */

header {
  background-image: url("../img/plane.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 72px;
  color: #fff;
  text-shadow: 2px 2px #1e252b;
}

#header-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
