@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400&display=swap");

/* ROOT STYLING */

:root {
  --mainbg: #eaeaed;
  --navbarcolor: #ffffff;
  --footercolor: #1e252b;
  --primarybutton: #184889;
  --secondarybutton: #6371b6;
  --primaryfontcolor: rgb(29, 29, 29);
  --footerfontcolor: #fff;
  --primaryfont: "Roboto Serif", serif;
  --secondaryfont: "Inter", sans-serif;
}

/* BODY STYLING */

body {
  box-sizing: border-box;
  background-color: var(--navbarcolor);
  margin: 0;
  font-family: var(--secondaryfont);
}

a {
  text-decoration: none;
  color: var(--primaryfontcolor);
}

a:hover {
  text-decoration: none;
  color: var(--primarybutton);
}

hr {
  max-width: 900px;
  border: 1px solid var(--footercolor);
  opacity: 0.35;
  /* border-radius: 4px; */
}

#hr {
  padding-bottom: 45px;
}

/* NAVBAR STYLING */

#navbar-logo {
  width: 75px;
}

.navbar {
  max-width: 950px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-mobil {
  display: none;
}

/* HEADER STYLING */

header {
  background-image: url("../img/plane.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 72px;
  color: #fff;
  text-shadow: 2px 2px #1e252b;
}

#header-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* MAIN STYLING */

main {
  background-color: var(--mainbg);
}

.paket-container {
  padding: 0px 45px 60px 45px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  margin: auto;
  align-items: center;
  max-width: 900px;
}

.paket-text {
  width: 100%;
}

#paket-header-text {
  max-width: 900px;
  padding: 25px 45px 25px 45px;
  margin: auto;
}

#paket-h2 {
  margin-top: 5px;
}

#paket-h3 {
  margin-bottom: 0px;
}

.paket-text,
#paket-header-text p {
  line-height: 24px;
}

.paket-img img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}

#price-text {
  display: inline;
  vertical-align: middle;
  background-color: var(--secondarybutton);
  padding: 4px;
  border-radius: 4px;
  font-size: 11px;
  color: #fff;
}

#primary-btn {
  padding: 10px 25px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
  color: var(--secondarybutton);
  border: 1px solid var(--secondarybutton);
  cursor: pointer;
}

#primary-btn:hover {
  background-color: var(--secondarybutton);
  color: #fff;
  border: 1px solid var(--secondarybutton);
  border-radius: 4px;
}

h1,
h2,
h3 {
  font-family: var(--primaryfont);
  font-weight: 300;
}

p {
  font-family: var(--secondaryfont);
}

/* FOOTER */

footer {
  height: 60px;
  background-color: var(--footercolor);
  font-size: 14px;
  color: var(--footerfontcolor);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

footer img {
  width: 45px;
}

#copyright-txt {
  grid-column: 2/3;
}

#footer-logo-container {
  grid-column: 3/4;
}

#footer-txt2 {
  grid-column: 4/5;
}

/* - - - MEDIA QUERIES - - - */

/* TABLET */

@media (max-width: 960px) {
  /* .navbar {
    display: none;
  } */

  /* .navbar-mobil {
    font-size: 150%;
    max-width: 950px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
  } */

  hr {
    max-width: 75%;
  }
  #hr {
    margin: auto;
    padding-bottom: 45px;
  }

  header {
    height: 450px;
  }

  button {
    width: 75%;
  }
}

/* MOBILE */

@media only screen and (max-width: 768px) {
  #hr {
    margin: auto;
    padding-bottom: 0px;
  }

  header {
    height: 300px;
  }

  header h1 {
    font-size: 52px;
    color: #fff;
    text-shadow: 2px 2px #1e252b;
  }

  #header-searchbar {
    padding-left: 10px;
    font-size: 16px;
    width: 400px;
    height: 35px;
  }

  #paket-header-text {
    max-width: 900px;
    padding: 25px 45px 15px 45px;
    margin: auto;
  }

  #paket-h2 {
    margin-top: 5px;
  }

  #paket-h3 {
    margin-bottom: 0px;
  }

  #paket-p {
    line-height: 24px;
    margin-top: 10px;
  }

  button {
    width: 100%;
    height: 50px;
  }

  .paket-container {
    padding: 25px 45px 25px 45px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  #paket-reverse {
    flex-direction: column-reverse;
  }

  .paket-img img {
    margin-top: -50px;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
}
