@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400&display=swap");

/* ROOT STYLING */

:root {
  --mainbg: #eaeaed;
  --navbarcolor: #ffffff;
  --footercolor: #1e252b;
  --primarybutton: #184889;
  --secondarybutton: #6371b6;
  --primaryfontcolor: rgb(29, 29, 29);
  --footerfontcolor: #fff;
  --primaryfont: "Roboto Serif", serif;
  --secondaryfont: "Inter", sans-serif;
}

/* BODY STYLING */

body {
  box-sizing: border-box;
  background-color: var(--mainbg);
  margin: 0;
  font-family: var(--secondaryfont);
}

a {
  text-decoration: none;
  color: var(--primaryfontcolor);
}

a:hover {
  text-decoration: none;
  color: var(--primarybutton);
}

hr {
  max-width: 900px;
  border: 1px solid var(--footercolor);
  opacity: 0.35;
  /* border-radius: 4px; */
}

#hr {
  padding-bottom: 45px;
}

/* NAVBAR STYLING */

#navbar-logo {
  width: 75px;
}

.navbar {
  max-width: 950px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-mobil {
  display: none;
}

header {
  background-image: url("../img/plane.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 72px;
  color: #fff;
  text-shadow: 2px 2px #1e252b;
}

#header-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logga {
  width: 75px;
  height: 75px;
}

.btn-container {
  display: flex;
  justify-content: center;
  height: 100px;
}

#primary-btn {
  padding: 10px 40px;
  margin: auto;
  border-radius: 4px;
  background-color: var(--primarybutton);
  color: #fff;
  border: 1px solid #fff;
}

#primary-btn:hover {
  background-color: var(--mainbg);
  color: var(--primarybutton);
  border: 1px solid var(--primarybutton);
  border-radius: 4px;
}

.search-container {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

#header-searchbar {
  font-size: 18px;
  padding-left: 10px;
  width: 535px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #ffffff8e;
  color: #153a6e;
}

#header-searchbar::placeholder {
  color: black;
  opacity: 0.5;
}

#searchicon {
  position: absolute;
  /* right: 35px; */
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-right: 15px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding-left: 0;
  max-width: 1080px;
}

nav ul li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: var(--primaryfont);
  font-weight: 300;
}

p {
  font-family: var(--secondaryfont);
}

#box-container {
  background-color: transparent;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 75px;
}

.box-text {
  background-color: #ffffff98;
  border-radius: 0 0 10px 10px;
  height: 0px;
  padding: 0 5px 0 5px;
}

#box1,
#box2,
#box3 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 400px;
  height: 300px;
  margin-top: -40px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.406);
  transition: 0.5s;
}

#box1 {
  background-image: url(../img/wonderland2.png);
  background-size: cover;
}

#box2 {
  background-image: url(../img/helvetet.png);
  background-size: cover;
}

#box3 {
  background-image: url(../img/månen1.png);
  background-size: cover;
}

#box1:hover,
#box2:hover,
#box3:hover {
  height: 400px;
  width: 500px;
  transition: 0.5s;
}

footer {
  background-color: var(--footercolor);
  color: var(--footerfontcolor);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

#copyright-txt {
  grid-column: 2/3;
}

#footer-logo-container {
  grid-column: 3/4;
}

#footer-txt2 {
  grid-column: 4/5;
}
