@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400&display=swap");

body {
  background-color: var(--mainbg);
  margin: 0;
}
/*Läggas in i root?*/
a {
  text-decoration: none;
  color: var(--primaryfontcolor);
}

a:hover {
  text-decoration: none;
  color: var(--primarybutton);
}

nav {
  position: fixed;
  width: 100%;
  background-color: var(--navbarcolor);
  font-family: var(--secondaryfont);
}

header h2 {
  font-size: 3vw;
  color: #fff;
  text-shadow: 2px 2px #1e252b;
}

.btn-container {
  display: flex;
  justify-content: center;
  height: 100px;
}

#primary-btn {
  padding: 10px 40px;
  margin: auto;
  border-radius: 4px;
  background-color: var(--primarybutton);
  color: #fff;
  border: 1px solid #fff;
}

#primary-btn:hover {
  background-color: var(--mainbg);
  color: var(--primarybutton);
  border: 1px solid var(--primarybutton);
  border-radius: 4px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding-left: 0;
  max-width: 1080px;
}

nav ul li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: var(--primaryfont);
  font-weight: 300;
  margin-bottom: 0px;
}

h3 {
  font-size: 28px;
}

p {
  font-family: var(--secondaryfont);
}

#box-container {
  height: 800px;
  padding-top: 50px;
  column-gap: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#box-container img {
  position: relative;
  bottom: -100px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.406);
}

.box-text {
  background-color: #ffffff98;
  border-radius: 0 0 10px 10px;
  text-align: center;
  position: relative;
  height: 100px;
  color: var(--primaryfontcolor);
  display: flex;
  align-items: center;
  /*För att se till att textbox är dold innan hover.*/
  opacity: 0;
  transition: opacity 0.3s ease;
}

.box-text p {
  padding: 5px;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box-wrapper h3 {
  padding: 10px;
  margin: 0;
}
/*gör synlig vid hover*/
.box-wrapper:hover .box-text {
  opacity: 1;
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box6 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 300px;
  height: 230px;
  margin-bottom: 30px;
}
/*förstora bilderna vid hover*/
#box1:hover,
#box2:hover,
#box3:hover,
#box4:hover,
#box5:hover,
#box6:hover {
  scale: 1.2;
}

/*MEDIA QUERYS. TABLET OCH MOBIL.*/
@media screen and (max-width: 960px) {
  #box-container {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    margin-bottom: 40px;
  }
  #box1,
  #box2,
  #box3,
  #box4,
  #box5,
  #box6 {
    margin-bottom: 40px;
  }
  .box-text {
    background-color: #ffffff;
    opacity: 1;
    margin-top: 95px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.406);
  }
  .box-wrapper h3 {
    margin-bottom: 90px;
  }
  #box-container {
    padding-top: 80px;
  }
}

@media screen and (max-width: 700px) {
  header h1 {
    margin-bottom: 0px;
  }
  #box-container {
    grid-template-columns: 1fr;
  }
}

/*MediaQuery för större skärmar, sprida ut bilderna*/
@media screen and (min-width: 1440px) {
  #box-container {
    padding: 150px;
  }
}
